body {
    background-image: url("pexels-pixabay-159652.jpg");
    
}

.contact {
    flood-color: antiquewhite;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: justify; 
    text-underline-offset: unset ;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: justify; 
    text-underline-offset: unset ;
}

.maintext {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 5%;
    align-items: center;
}

hr {
    width: 100px;
    height: 7px;
    color: brown;
}