body, header {
    background-image: url("pexels-pixabay-159652.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: justify; 
    text-underline-offset: unset ;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 5%;
}

hr {
    width: 100px;
    height: 7px;
    color: brown;
}