<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
  <link href="/static/styles.css" rel="stylesheet"/>
</head>
<body>
  <h1 class="maintext">Send me your feedback</h1>
  
</body>

<footer class="maintext">
  link to repository containing code <a class="maintext" href="https://github.com/MilesTsue93/News-Aggregator"><br>github repository link</a>
</footer>
</html>