<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Aggregator</title>
    <link href="/static/styles.css" rel="stylesheet"/>
  </head>

  <body>
    <h1>Your News. All In One Place</h1>
    <ul>
      {% for news in news_source %}
        <li><a href="/news_source/{{ news }}">{{ news }}</a></li>
      {% endfor %}
    </ul>

    
  </body>
</html>