<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Aggregator</title>
    <link href="/static/styles.css" rel="stylesheet"/>
  </head>

  <body>
    <h1 class="home">Your News. All In One Place</h1>
    <ul>
      {% for news in news_source %}
        <a href="/news_source/{{ news }}">{{ news }}</a><br>
      {% endfor %}
    </ul>


  </body>

  <footer class="maintext">
    <a class="nav-link" href="/contact.html">Contact</a></li>
    <br>
    link to repository containing code <a href="https://github.com/MilesTsue93/News-Aggregator"><br>github repository link</a>
  </footer>
</html>